<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flowercat.rfmouse">

    <!-- 查询所有软件包 -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>

    <!-- 运行前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!-- 运行“mediaProjection”类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"/>

    <!-- BIND_ACCESSIBILITY_SERVICE -->
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"/>

    <!-- BIND_DEVICE_ADMIN -->
    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN"/>

    <!-- 开机启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!-- 此应用可显示在其他应用上方 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- 连接WLAN网络和断开连接 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!-- 查看WLAN连接 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- 查看网络连接 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 拥有完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 修改或删除您共享存储空间中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 读取您共享存储空间中的内容 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 防止手机休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- DEVICE_POWER -->
    <uses-permission android:name="android.permission.DEVICE_POWER"/>

    <!-- 更改您的音频设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <!-- 关闭其他应用 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

    <!-- 关闭其他应用 -->
    <uses-permission android:name="android.permission.KILL_ALL_BACKGROUND_PROCESSES"/>

    <!-- 修改系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <!-- WRITE_SECURE_SETTINGS -->
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>

    <!-- 检索正在运行的应用 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- 请求忽略电池优化 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <!-- BIND_NOTIFICATION_LISTENER_SERVICE -->
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"/>

    <!-- BIND_NOTIFICATION_RANKER_SERVICE -->
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_RANKER_SERVICE"/>

    <!-- BIND_QUICK_SETTINGS_TILE -->
    <uses-permission android:name="android.permission.BIND_QUICK_SETTINGS_TILE"/>

    <!-- 显示通知 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- DELETE_PACKAGES -->
    <uses-permission android:name="android.permission.DELETE_PACKAGES"/>

    <!-- 请求删除文件包 -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"/>

    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"/>

    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission android:name="android.permission.GET_TASKS"/>

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"/>

    <uses-permission android:name="android.permission.BIND_NOTIFICATION_RANKER_SERVICE"/>

    <uses-permission android:name="android.permission.BIND_QUICK_SETTINGS_TILE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".FlowerApplication"
        android:resizeableActivity="true"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MouseMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <service
            android:name=".service.FlowerMouseService"
            android:label="●按键模拟鼠标服务"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden">

            <intent-filter>

                <action android:name="android.accessibilityservice.AccessibilityService"/>

            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config"/>

        </service>

        <service
            android:name=".service.QuickSettingsTileService"
            android:icon="@drawable/ic_launcher"
            android:label="鼠标保活"
            android:process=":install"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">

            <intent-filter>

                <action android:name="android.service.quicksettings.action.QS_TILE"/>

            </intent-filter>

        </service>

        <service
            android:label="通知读取保活"
            android:name=".service.NotificationCollectorService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:process=":install">

            <intent-filter>

                <action android:name="android.service.notification.NotificationListenerService"/>

            </intent-filter>

        </service>

        <service
            android:name=".service.CommonService"
            android:exported="true"
            android:enabled="true"
            android:process=":install"/>

        <activity
            android:launchMode="singleTask"
            android:name=".ui.MouseSettingsActivity"/>

        <activity
            android:launchMode="singleTask"
            android:name=".ui.KeyConfigActivity"/>

        <activity
            android:launchMode="singleTask"
            android:name=".FlowerApplication$CrashActivity"/>

        <activity
            android:launchMode="singleTask"
            android:name=".ui.MouseTestActivity"/>

        <activity
            android:launchMode="singleTask"
            android:name=".ui.BaseActivity"/>

        <activity
            android:launchMode="singleTask"
            android:name=".ui.HelloScreen"/>

        <activity
            android:launchMode="singleTask"
            android:name=".adb.AppProcessTestActivity"/>

        <activity
            android:launchMode="singleTask"
            android:name=".ui.PermissionRequestActivity"/>

        <activity
            android:launchMode="singleTask"
            android:name=".ui.AdvanceSettingsActivity"/>

        <activity
            android:launchMode="singleTask"
            android:name=".ui.AboutActivity"/>

        <activity
            android:launchMode="singleTask"
            android:name=".ui.TestActivity"/>

        <activity
            android:launchMode="singleTask"
            android:name=".ui.ScreenShotTestActivity"/>

        <activity
            android:enabled="true"
            android:exported="true"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:launchMode="singleInstance"
            android:resumeWhilePausing="true"
            android:excludeFromRecents="true"
            android:theme="@style/Transparent"
            android:name=".ui.OverlayActivity"/>

        <activity android:name=".ui.MouseModeChooseActivity"/>

        <activity
            android:enabled="true"
            android:exported="true"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:theme="@style/Transparent"
            android:name=".ui.VolumeBoostActivity"/>

        <activity
            android:enabled="true"
            android:exported="true"
            android:taskAffinity=".launcher"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:launchMode="singleTask"
            android:resumeWhilePausing="true"
            android:excludeFromRecents="true"
            android:name=".ui.CallPhoneActivity"/>

        <receiver
            android:name=".receiver.MyDeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_policy"/>

            <intent-filter>

                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>

                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED"/>

                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED_REQUESTED"/>

            </intent-filter>

        </receiver>

        <receiver android:name=".receiver.BootReceiver">

            <intent-filter>

                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </receiver>

        <activity android:name=".ui.AppListActivity"/>

        <activity
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:name=".ui.ListPermissionsActivity"/>

        <activity
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:name=".ui.ResolutionSettingsActivity"/>

        <activity
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:name=".ui.ToolsActivity"/>

        <activity
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:name=".ui.HideSystemUIActivity"/>

        <activity
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:name=".ui.MouseOverSettingActivity"/>

        <activity
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:name=".ui.KeepAliveConfigActivity"/>

        <activity
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:name=".compati.CompatibilityTest"/>

        <activity
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:name=".compati.CompatibilityKeySetting"/>

        <activity
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:name=".donate.DonateActivity"/>

        <activity
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:name=".adb.ShellTestActivity"/>

        <activity
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:name=".ui.InjectSettingActivity"/>

        <activity 
			android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
			android:name=".ui.ConfigManagerActivity"/>

        <activity 
			android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
			android:name=".ui.WizardActivity"/>

        <activity 
			android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
			android:name=".ui.CompTotalActivity"/>

    </application>

</manifest>
